@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "MCW";
        src: url('/mcw_regular.woff');
        font-weight: 400;
        font-style: normal;
    }
    html {
        font-family: 'MCW';
    }
    input[type=number]:focus {
        outline: none
    }
    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    input[type=number] {
        -moz-appearance: textfield;
    }
}